body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }

  #sidebar {
    width: 250px;
    height: 100%;
    background: #333;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    color: white;
    align-items: center;
  }

  #sidebar a {
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    color: white;
    display: block;
  }

  #sidebar a:hover {
    background-color: #555;
  }

  #content {
    margin-left: 250px;
    padding: 16px;
  }

.logo {
    align-content: center;
    align-items: center;
    margin-left: 1em;
}

#sidebar .dropdown {
    position: relative;
    display: inline-block;
    width: 250px;
}

  #sidebar .dropdown-content {
    display: none;
    position: relative;
    background-color: #333;
    min-width: 250px;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    z-index: 1;
    
  }

  #sidebar .dropdown:hover .dropdown-content {
    display: block;
  }

  #sidebar .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #sidebar .dropdown-content a:hover {
    background-color: black;
  }