<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/homestyle.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@400;500;700&family=Poppins:ital,wght@0,100;0,300;0,700;1,700&display=swap" rel="stylesheet">
</head>
<body>

<div id="sidebar">
  <a class="logo" href="/"><img src="/logo.png" alt="" style="width: 150px;"></a>
  <a href="/adddata">ADD DATA</a>
  <a href="/filterdata">FILTER DATA</a>
  <div class="dropdown">
      <a href="#">CHART</a>
      <div class="dropdown-content">
          <a href="/barchart">Bar Chart</a>
          <a href="/scatterplot">Scatter Plot</a>
      </div>
  </div>
</div>

<div id="content">
  <h2>Selamat Datang di Toko Ritel Sinar Sekelimus</h2>
  <div class="desc">Fitur yang disediakan: </div>
  <div class="container">
    <div class="kotak1">
      <img src="/addData_logo.png" class="yuhuu">
      <div class="judul1">Add Data</div>
      <div class="judul1_txt">
          Fitur Add Data digunakan 
          untuk melakukan input file 
          dari pengguna ke dalam database
      </div>
    </div>
    <div class="kotak2">
      <img src="/filterData_logo.png" class="yuhuu">
      <div class="judul2">Filter Data</div>
      <div class="judul2_txt">
        Filter Data digunakan untuk melihat 
        isi data dalam database untuk kegunaan 
        penelitian data berdasarkan 
        filter kolom data tertentu
      </div>
    </div>

    <div class="kotak3">
      <img src="/graph_logo.png" class="yuhuu">
      <div class="judul3">Chart</div>
      <div class="judul3_txt">
        Fitur Chart digunakan untuk melihat data 
        dalam bentuk Bar Chart diagram 
        dan Scatter Plot diagram
      </div>
    </div>
  </div>
</div>

</body>
</html>
