<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/homestyle.css">
</head>
<body>

<div id="sidebar">
  <a class="logo" href="/"><img src="/logo.png" alt="" style="width: 150px;"></a>
  <a href="/adddata">ADD DATA</a>
  <a href="/filterdata">FILTER DATA</a>
  <div class="dropdown">
      <a href="#">CHART</a>
      <div class="dropdown-content">
          <a href="/barchart">Bar Chart</a>
          <a href="/scatterplot">Scatter Plot</a>
      </div>
  </div>
</div>

<div id="content">
  <h2>Selamat Datang di Toko Ritel Sinar Sekelimus</h2>
  <div class="container">
    
    <div class="desc">Fitur yang disediakan: </div>
    <div class="addDataDesc">1. Add Data</div>
    <div class="addDataDesc2">Fitur Add Data digunakan untuk melakukan input file dari pengguna ke dalam database</div>
    <div class="filterDataDesc">2. Filter Data</div>
    <div class="filterDataDesc2">Fitur Filter Data digunakan untuk melihat isi data dalam database untuk kegunaan penelitian data berdasarkan filter kolom data tertentu</div>
    <div class="chartDesc">3. Chart</div>
    <div class="chartDesc2">Fitur Chart digunakan untuk melihat data dalam bentuk Bar Chart diagram dan Scatter Plot diagram</div>
  </div>
</div>

</body>
</html>
